doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin="")
        link(href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap", rel="stylesheet")

        link(rel="icon", type="image/png", size="32x32", href="./assets/images/favicon-32x32.png")
        link(rel='stylesheet', href='css/style.css')

        script(src='js/app.js')

        title='page_title'
    body 
        header 
        main 
            include result.pug 
        footer
            div(class="attribution")
                | Challenge by 
                a(href="https://www.frontendmentor.io?ref=challenge", target="_blank") Frontend Mentor
                | .
                | Coded by 
                a(href="#") Hanif Maleki.
